<!DOCTYPE html>
<html>
  <head>
    <title>Sklepinternetowy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- week_7 -->
    <%if flash[:alert].present?%>
    <div style="background: red"><%= flash[:alert] %></div>
    <%end%>    
    <%if flash[:notice].present?%>
    <div style="background: lightblue"><%= flash[:notice] %></div>
    <%end%>
    <%= render partial: 'layouts/shared/navbar' %>
    <%= yield %>
  </body>
</html>
